* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    position: relative;
    background-image: url("img/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
}

.game__setting {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game__setting > * {
    margin-bottom: 7px;
}

.game__setting__playBtn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: whitesmoke;
    cursor: pointer;
    border: 1px solid #1879ad;
    text-align: center;
    line-height: 28px;
}

.game__setting__playBtn:hover {
    background-color: rgba(245, 245, 245, 0.487)
}

.game__setting__playBtn:active {
    -webkit-box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.75); 
    -moz-box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.75); 
    box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.75);   
}

.game__setting__playBtn .hide {
    display: none;
}

.game__setting__timer {
    background-color: #1879ad;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    border-radius: 10px;
    border: 1px solid steelblue;
}

.game__setting__count {
    background-color: seashell;
    width: 36px;
    height: 36px;
    padding: 2px;
    border-radius: 18px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #00a1f8;
}

.game__board {
    position: absolute;
    top: 220px;
    /* background-color: rgba(53, 107, 151, 0.7); */
    height: 175px;
    width: 100%;
    
    display: flex;
    justify-content: center;
}

.game__carrot,
.game__bug {
    position: absolute;
    cursor: pointer;
    width: 55px;
    height: 55px;
}

.game__status {
    visibility: hidden;
    background-color: rgba(188, 143, 143, 0.8);
    width: 300px;
    height: 80px;
    font-size: 1.4rem;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

/* .game__carrot:active,
.game__bug:active {
    -webkit-box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.75); 
    -moz-box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.75); 
    box-shadow: inset 2px 2px 2px 2px rgba(0,0,0,0.75);  
} */